* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'VW Regular';
    src: url('/fonts/VWHeadOffice-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VW Bold';
    src: url('/fonts/VWHeadOffice-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}